### Exercises

### Do your work for this exercise in a jupyter notebook named feature_engineering within the regression-exercises repo. Add, commit, and push your work.

### 1. Load the tips dataset.

In [1]:
import pandas as pd
import numpy as np
import wrangle
import warnings
warnings.filterwarnings("ignore")
from pydataset import data
from sklearn.linear_model import LinearRegression
from sklearn.feature_selection import RFE

from sklearn.model_selection import train_test_split
import sklearn.preprocessing

In [2]:
df = data('tips')
df.head()

   total_bill   tip     sex smoker  day    time  size
1       16.99  1.01  Female     No  Sun  Dinner     2
2       10.34  1.66    Male     No  Sun  Dinner     3
3       21.01  3.50    Male     No  Sun  Dinner     3
4       23.68  3.31    Male     No  Sun  Dinner     2
5       24.59  3.61  Female     No  Sun  Dinner     4

- a. Create a column named tip_percentage. This should be the tip amount divided by the total bill.

In [3]:
df['tip_percentage'] = round((df.tip/df.total_bill)*100, 2)
df.head()

   total_bill   tip     sex smoker  day    time  size  tip_percentage
1       16.99  1.01  Female     No  Sun  Dinner     2            5.94
2       10.34  1.66    Male     No  Sun  Dinner     3           16.05
3       21.01  3.50    Male     No  Sun  Dinner     3           16.66
4       23.68  3.31    Male     No  Sun  Dinner     2           13.98
5       24.59  3.61  Female     No  Sun  Dinner     4           14.68

In [4]:
df = df.rename(columns = {'size':'num_person'})
df.head()

   total_bill   tip     sex smoker  day    time  num_person  tip_percentage
1       16.99  1.01  Female     No  Sun  Dinner           2            5.94
2       10.34  1.66    Male     No  Sun  Dinner           3           16.05
3       21.01  3.50    Male     No  Sun  Dinner           3           16.66
4       23.68  3.31    Male     No  Sun  Dinner           2           13.98
5       24.59  3.61  Female     No  Sun  Dinner           4           14.68

- b. Create a column named price_per_person. This should be the total bill divided by the party size.

In [5]:
df['price_per_person']= round((df.total_bill/df.num_person), 2)
df.head()

,total_bill,tip,sex,smoker,day,time,num_person,tip_percentage,price_per_person
1,16.99,1.01,Female,No,Sun,Dinner,2,5.94,8.49
2,10.34,1.66,Male,No,Sun,Dinner,3,16.05,3.45
3,21.01,3.50,Male,No,Sun,Dinner,3,16.66,7.00
4,23.68,3.31,Male,No,Sun,Dinner,2,13.98,11.84
5,24.59,3.61,Female,No,Sun,Dinner,4,14.68,6.15

In [6]:
df['sex']=df.sex.str.strip()

In [7]:
df['smoker']=df.smoker.str.strip()

In [8]:
df['day']=df.day.str.strip()

In [9]:
df['time']=df.time.str.strip()

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 244 entries, 1 to 244
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   total_bill        244 non-null    float64
 1   tip               244 non-null    float64
 2   sex               244 non-null    object
 3   smoker            244 non-null    object
 4   day               244 non-null    object
 5   time              244 non-null    object
 6   num_person        244 non-null    int64
 7   tip_percentage    244 non-null    float64
 8   price_per_person  244 non-null    float64
dtypes: float64(4), int64(1), object(4)
memory usage: 19.1+ KB

In [11]:
# Convert binary categorical variables to numeric
df['sex_encoded'] = df.sex.map({'Female': 1, 'Male': 0})
df['smoker_encoded'] = df.smoker.map({'No': 0, 'Yes': 1})
# Get dummies for non-binary categorical variables
dummy_df = pd.get_dummies(df[['day',
                              'time']], dummy_na=False,
                              drop_first=True)

df.head()

,total_bill,tip,sex,smoker,day,time,num_person,tip_percentage,price_per_person,sex_encoded,smoker_encoded
1,16.99,1.01,Female,No,Sun,Dinner,2,5.94,8.49,1,0
2,10.34,1.66,Male,No,Sun,Dinner,3,16.05,3.45,0,0
3,21.01,3.50,Male,No,Sun,Dinner,3,16.66,7.00,0,0
4,23.68,3.31,Male,No,Sun,Dinner,2,13.98,11.84,0,0
5,24.59,3.61,Female,No,Sun,Dinner,4,14.68,6.15,1,0

In [12]:
# Concatenate dummy dataframe to original
df = pd.concat([df, dummy_df], axis=1)

In [13]:
df.head()

,total_bill,tip,sex,smoker,day,time,num_person,tip_percentage,price_per_person,sex_encoded,smoker_encoded,day_Sat,day_Sun,day_Thur,time_Lunch
1,16.99,1.01,Female,No,Sun,Dinner,2,5.94,8.49,1,0,0,1,0,0
2,10.34,1.66,Male,No,Sun,Dinner,3,16.05,3.45,0,0,0,1,0,0
3,21.01,3.50,Male,No,Sun,Dinner,3,16.66,7.00,0,0,0,1,0,0
4,23.68,3.31,Male,No,Sun,Dinner,2,13.98,11.84,0,0,0,1,0,0
5,24.59,3.61,Female,No,Sun,Dinner,4,14.68,6.15,1,0,0,1,0,0

In [14]:
df = df.drop(columns = ['sex', 'day', 'time', 'smoker'])
df.head(100)

,total_bill,tip,num_person,tip_percentage,price_per_person,sex_encoded,smoker_encoded,day_Sat,day_Sun,day_Thur,time_Lunch
1,16.99,1.01,2,5.94,8.49,1,0,0,1,0,0
2,10.34,1.66,3,16.05,3.45,0,0,0,1,0,0
3,21.01,3.50,3,16.66,7.00,0,0,0,1,0,0
4,23.68,3.31,2,13.98,11.84,0,0,0,1,0,0
5,24.59,3.61,4,14.68,6.15,1,0,0,1,0,0
6,25.29,4.71,4,18.62,6.32,0,0,0,1,0,0
7,8.77,2.00,2,22.81,4.38,0,0,0,1,0,0
8,26.88,3.12,4,11.61,6.72,0,0,0,1,0,0
9,15.04,1.96,2,13.03,7.52,0,0,0,1,0,0
10,14.78,3.23,2,21.85,7.39,0,0,0,1,0,0
11,10.27,1.71,2,16.65,5.14,0,0,0,1,0,0
12,35.26,5.00,4,14.18,8.82,1,0,0,1,0,0
13,15.42,1.57,2,10.18,7.71,0,0,0,1,0,0
14,18.43,3.00,4,16.28,4.61,0,0,0,1,0,0
15,14.83,3.02,2,20.36,7.42,1,0,0,1,0,0
16,21.58,3.92,2,18.16,10.79,0,0,0,1,0,0
17,10.33,1.67,3,16.17,3.44,1,0,0,1,0,0
18,16.29,3.71,3,22.77,5.43,0,0,0,1,0,0
19,16.97,3.50,3,20.62,5.66,1,0,0,1,0,0
20,20.65,3.35,3,16.22,6.88,0,0,1,0,0,0
21,17.92,4.08,2,22.77,8.96,0,0,1,0,0,0
22,20.29,2.75,2,13.55,10.14,1,0,1,0,0,0
23,15.77,2.23,2,14.14,7.88,1,0,1,0,0,0
24,39.42,7.58,4,19.23,9.86,0,0,1,0,0,0
25,19.82,3.18,2,16.04,9.91,0,0,1,0,0,0
26,17.81,2.34,4,13.14,4.45,0,0,1,0,0,0
27,13.37,2.00,2,14.96,6.68,0,0,1,0,0,0
28,12.69,2.00,2,15.76,6.34,0,0,1,0,0,0
29,21.70,4.30,2,19.82,10.85,0,0,1,0,0,0
30,19.65,3.00,2,15.27,9.82,1,0,1,0,0,0
31,9.55,1.45,2,15.18,4.78,0,0,1,0,0,0
32,18.35,2.50,4,13.62,4.59,0,0,1,0,0,0
33,15.06,3.00,2,19.92,7.53,1,0,1,0,0,0
34,20.69,2.45,4,11.84,5.17,1,0,1,0,0,0
35,17.78,3.27,2,18.39,8.89,0,0,1,0,0,0
36,24.06,3.60,3,14.96,8.02,0,0,1,0,0,0
37,16.31,2.00,3,12.26,5.44,0,0,1,0,0,0
38,16.93,3.07,3,18.13,5.64,1,0,1,0,0,0
39,18.69,2.31,3,12.36,6.23,0,0,1,0,0,0
40,31.27,5.00,3,15.99,10.42,0,0,1,0,0,0
41,16.04,2.24,3,13.97,5.35,0,0,1,0,0,0
42,17.46,2.54,2,14.55,8.73,0,0,0,1,0,0
43,13.94,3.06,2,21.95,6.97,0,0,0,1,0,0
44,9.68,1.32,2,13.64,4.84,0,0,0,1,0,0
45,30.40,5.60,4,18.42,7.60,0,0,0,1,0,0
46,18.29,3.00,2,16.40,9.14,0,0,0,1,0,0
47,22.23,5.00,2,22.49,11.12,0,0,0,1,0,0
48,32.40,6.00,4,18.52,8.10,0,0,0,1,0,0
49,28.55,2.05,3,7.18,9.52,0,0,0,1,0,0
50,18.04,3.00,2,16.63,9.02,0,0,0,1,0,0
51,12.54,2.50,2,19.94,6.27,0,0,0,1,0,0
52,10.29,2.60,2,25.27,5.14,1,0,0,1,0,0
53,34.81,5.20,4,14.94,8.70,1,0,0,1,0,0
54,9.94,1.56,2,15.69,4.97,0,0,0,1,0,0
55,25.56,4.34,4,16.98,6.39,0,0,0,1,0,0
56,19.49,3.51,2,18.01,9.74,0,0,0,1,0,0
57,38.01,3.00,4,7.89,9.50,0,1,1,0,0,0
58,26.41,1.50,2,5.68,13.20,1,0,1,0,0,0
59,11.24,1.76,2,15.66,5.62,0,1,1,0,0,0
60,48.27,6.73,4,13.94,12.07,0,0,1,0,0,0
61,20.29,3.21,2,15.82,10.14,0,1,1,0,0,0
62,13.81,2.00,2,14.48,6.90,0,1,1,0,0,0
63,11.02,1.98,2,17.97,5.51,0,1,1,0,0,0
64,18.29,3.76,4,20.56,4.57,0,1,1,0,0,0
65,17.59,2.64,3,15.01,5.86,0,0,1,0,0,0
66,20.08,3.15,3,15.69,6.69,0,0,1,0,0,0
67,16.45,2.47,2,15.02,8.22,1,0,1,0,0,0
68,3.07,1.00,1,32.57,3.07,1,1,1,0,0,0
69,20.23,2.01,2,9.94,10.12,0,0,1,0,0,0
70,15.01,2.09,2,13.92,7.50,0,1,1,0,0,0
71,12.02,1.97,2,16.39,6.01,0,0,1,0,0,0
72,17.07,3.00,3,17.57,5.69,1,0,1,0,0,0
73,26.86,3.14,2,11.69,13.43,1,1,1,0,0,0
74,25.28,5.00,2,19.78,12.64,1,1,1,0,0,0
75,14.73,2.20,2,14.94,7.36,1,0,1,0,0,0
76,10.51,1.25,2,11.89,5.26,0,0,1,0,0,0
77,17.92,3.08,2,17.19,8.96,0,1,1,0,0,0
78,27.20,4.00,4,14.71,6.80,0,0,0,0,1,1
79,22.76,3.00,2,13.18,11.38,0,0,0,0,1,1
80,17.29,2.71,2,15.67,8.64,0,0,0,0,1,1
81,19.44,3.00,2,15.43,9.72,0,1,0,0,1,1
82,16.66,3.40,2,20.41,8.33,0,0,0,0,1,1
83,10.07,1.83,1,18.17,10.07,1,0,0,0,1,1
84,32.68,5.00,2,15.30,16.34,0,1,0,0,1,1
85,15.98,2.03,2,12.70,7.99,0,0,0,0,1,1
86,34.83,5.17,4,14.84,8.71,1,0,0,0,1,1
87,13.03,2.00,2,15.35,6.52,0,0,0,0,1,1
88,18.28,4.00,2,21.88,9.14,0,0,0,0,1,1
89,24.71,5.85,2,23.67,12.36,0,0,0,0,1,1
90,21.16,3.00,2,14.18,10.58,0,0,0,0,1,1
91,28.97,3.00,2,10.36,14.48,0,1,0,0,0,0
92,22.49,3.50,2,15.56,11.24,0,0,0,0,0,0
93,5.75,1.00,2,17.39,2.88,1,1,0,0,0,0
94,16.32,4.30,2,26.35,8.16,1,1,0,0,0,0
95,22.75,3.25,2,14.29,11.38,1,0,0,0,0,0
96,40.17,4.73,4,11.77,10.04,0,1,0,0,0,0
97,27.28,4.00,2,14.66,13.64,0,1,0,0,0,0
98,12.03,1.50,2,12.47,6.02,0,1,0,0,0,0
99,21.01,3.00,2,14.28,10.50,0,1,0,0,0,0
100,12.46,1.50,2,12.04,6.23,0,0,0,0,0,0

In [15]:
df.shape

(244, 11)

- c. Before using any of the methods discussed in the lesson, which features do you think would be most important for predicting the tip amount? The tip percentage?

In [16]:
# I would guess total_bill

In [17]:
# total_bill

In [18]:
def split_tips(df):
    '''
    This function performs split on telco data, stratify churn.
    Returns train, validate, and test dfs.
    '''
    train_validate, test = train_test_split(df, test_size=.2,
                                            random_state=123,
                                           )
    train, validate = train_test_split(train_validate, test_size=.2,
                                       random_state=123,
                                       )
    return train, validate, test

In [19]:
# Split the data
train, validate, test = split_tips(df)

In [20]:
target = "tip"

# split train into X (dataframe, drop target) & y (series, keep target only)
X_train = train.drop(columns=[target])
y_train = train[target]

# split validate into X (dataframe, drop target) & y (series, keep target only)
X_validate = validate.drop(columns=[target])
y_validate = validate[target]

# split test into X (dataframe, drop target) & y (series, keep target only)
X_test = test.drop(columns=[target])
y_test = test[target]

X_train.head()

,total_bill,num_person,tip_percentage,price_per_person,sex_encoded,smoker_encoded,day_Sat,day_Sun,day_Thur,time_Lunch
126,29.80,6,14.09,4.97,1,0,0,0,1,1
189,18.15,3,19.28,6.05,1,1,0,1,0,0
84,32.68,2,15.30,16.34,0,1,0,0,1,1
241,27.18,2,7.36,13.59,1,1,1,0,0,0
40,31.27,3,15.99,10.42,0,0,1,0,0,0

In [21]:
import sklearn.preprocessing
# Scale (Make the thing)
scaler = sklearn.preprocessing.MinMaxScaler()

# Fit the scaler, (fit the thing)
scaler.fit(X_train)

# Use the scaler to transform train, validate, test (use the thing)
X_train_scaled = scaler.transform(X_train)
X_validate_scaled = scaler.transform(X_validate)
X_test_scaled = scaler.transform(X_test)

In [22]:
# Turn everything into a dataframe
X_train_scaled = pd.DataFrame(X_train_scaled, columns=X_train.columns)
X_validate_scaled = pd.DataFrame(X_validate_scaled, columns=X_train.columns)
X_test_scaled = pd.DataFrame(X_test_scaled, columns=X_train.columns)

- d. Use select k best and recursive feature elimination to select the top 2 features for predicting tip amount. What are they?

In [23]:
from sklearn.feature_selection import SelectKBest, f_regression 
# Use numeric features to predict tip_amount
# Use select-K-best and RFE to select the top 2 features

k = 2

# Let's start with Select K Best
# Make the thing
kbest = SelectKBest(f_regression, k=2)

# fit the thing
kbest.fit(X_train, y_train)

# use the thing, 
# get_support() produces an array of booleans, so we can filter out the column names that matter the most
kbest_features = X_train.columns[kbest.get_support()].tolist()

print("KBest's 2 best features are", kbest_features)

KBest's 2 best features are ['total_bill', 'num_person']

In [24]:
from sklearn.feature_selection import SelectKBest, f_regression

# parameters: f_regression stats test, give me  features
f_selector = SelectKBest(f_regression, k=2)

# find the top 8 X's correlated with y
f_selector.fit(X_train_scaled, y_train)

# boolean mask of whether the column was selected or not. 
feature_mask = f_selector.get_support()

# get list of top K features. 
f_features = X_train_scaled.iloc[:,feature_mask].columns.tolist()

In [25]:
f_features

['total_bill', 'num_person']

In [26]:
# Now let's do the RFE

# Make the thing(s)
lm = sklearn.linear_model.LinearRegression()
rfe = sklearn.feature_selection.RFE(lm, n_features_to_select=2)

# Fit the thing
rfe.fit(X_train, y_train)

# use the thing
rfe_columns = X_train.columns[rfe.support_].tolist()
rfe_columns

['day_Sat', 'day_Thur']

In [47]:
from sklearn.linear_model import LinearRegression
from sklearn.feature_selection import RFE

# initialize the ML algorithm
lm = LinearRegression()

# create the rfe object, indicating the ML object (lm) and the number of features I want to end up with. 
rfe = RFE(estimator=lm, n_features_to_select=2)

# fit the data using RFE
rfe.fit(X_train_scaled,y_train)  

# get the mask of the columns selected
feature_mask = rfe.support_

# get list of the column names. 
rfe_feature = X_train_scaled.iloc[:,feature_mask].columns.tolist()

In [48]:
rfe_feature

['total_bill', 'tip']

- e. Use select k best and recursive feature elimination to select the top 2 features for predicting tip percentage. What are they?

In [28]:
target = "tip_percentage"

# split train into X (dataframe, drop target) & y (series, keep target only)
X_train = train.drop(columns=[target])
y_train = train[target]

# split validate into X (dataframe, drop target) & y (series, keep target only)
X_validate = validate.drop(columns=[target])
y_validate = validate[target]

# split test into X (dataframe, drop target) & y (series, keep target only)
X_test = test.drop(columns=[target])
y_test = test[target]

X_train.head()

,total_bill,tip,num_person,price_per_person,sex_encoded,smoker_encoded,day_Sat,day_Sun,day_Thur,time_Lunch
126,29.80,4.2,6,4.97,1,0,0,0,1,1
189,18.15,3.5,3,6.05,1,1,0,1,0,0
84,32.68,5.0,2,16.34,0,1,0,0,1,1
241,27.18,2.0,2,13.59,1,1,1,0,0,0
40,31.27,5.0,3,10.42,0,0,1,0,0,0

In [29]:
import sklearn.preprocessing
# Scale (Make the thing)
scaler = sklearn.preprocessing.MinMaxScaler()

# Fit the scaler, (fit the thing)
scaler.fit(X_train)

# Use the scaler to transform train, validate, test (use the thing)
X_train_scaled = scaler.transform(X_train)
X_validate_scaled = scaler.transform(X_validate)
X_test_scaled = scaler.transform(X_test)

In [30]:
# Turn everything into a dataframe
X_train_scaled = pd.DataFrame(X_train_scaled, columns=X_train.columns)
X_validate_scaled = pd.DataFrame(X_validate_scaled, columns=X_train.columns)
X_test_scaled = pd.DataFrame(X_test_scaled, columns=X_train.columns)

In [31]:
# Use numeric features to predict tip_percentage
# Use select-K-best and RFE to select the top 2 features

k = 2

# Let's start with Select K Best
# Make the thing
kbest = SelectKBest(f_regression, k=2)

# fit the thing
kbest.fit(X_train, y_train)

# use the thing, 
# get_support() produces an array of booleans, so we can filter out the column names that matter the most
kbest_features_tp = X_train.columns[kbest.get_support()].tolist()

print("KBest's 2 best features are", kbest_features_tp)

KBest's 2 best features are ['total_bill', 'tip']

In [32]:
# Now let's do the RFE

# Make the thing(s)
lm = sklearn.linear_model.LinearRegression()
rfe = sklearn.feature_selection.RFE(lm, n_features_to_select=2)

# Fit the thing
rfe.fit(X_train, y_train)

# use the thing
rfe_columns = X_train.columns[rfe.support_].tolist()
rfe_columns

['tip', 'num_person']

In [33]:
from sklearn.feature_selection import SelectKBest, f_regression

# parameters: f_regression stats test, give me 2 features
f_selector = SelectKBest(f_regression, k=2)

# find the top 2 X's correlated with y
f_selector.fit(X_train, y_train)

# boolean mask of whether the column was selected or not. 
feature_mask = f_selector.get_support()

# get list of top K features. 
f_feature1 = X_train.iloc[:,feature_mask].columns.tolist()

In [34]:
f_feature1

['total_bill', 'tip']

In [35]:
from sklearn.feature_selection import SelectKBest, f_regression

# parameters: f_regression stats test, give me 3 features
f_selector = SelectKBest(f_regression, k=3)

# find the top 8 X's correlated with y
f_selector.fit(X_train_scaled, y_train)

# boolean mask of whether the column was selected or not. 
feature_mask = f_selector.get_support()

# get list of top K features. 
f_feature = X_train_scaled.iloc[:,feature_mask].columns.tolist()

In [36]:
f_feature

['total_bill', 'tip', 'price_per_person']

In [37]:
from sklearn.linear_model import LinearRegression
from sklearn.feature_selection import RFE

# initialize the ML algorithm
lm = LinearRegression()

# create the rfe object, indicating the ML object (lm) and the number of features I want to end up with. 
# rfe = RFE(lm, 2)
rfe = RFE(estimator=lm, n_features_to_select=2) 

# fit the data using RFE
rfe.fit(X_train_scaled,y_train)  

# get the mask of the columns selected
feature_mask = rfe.support_

# get list of the column names. 
rfe_feature = X_train_scaled.iloc[:,feature_mask].columns.tolist()

In [38]:
rfe_feature

['total_bill', 'tip']

- f. Why do you think select k best and recursive feature elimination might give different answers for the top features? Does this change as you change the number of features your are selecting?

In [ ]:
# I don't know why is it so.

### 2. Write a function named select_kbest that takes in the predictors (X), the target (y), and the number of features to select (k) and returns the names of the top k selected features based on the SelectKBest class. Test your function with the tips dataset. You should see the same results as when you did the process manually.

In [39]:
def select_kbest(X, y, k):
    # make the object
    kbest = sklearn.feature_selection.SelectKBest(sklearn.feature_selection.f_regression, k=k)

    # fit the object
    kbest.fit(X, y)
    
    # use the object (.get_support() is that array of booleans to filter the list of column names)
    return X.columns[kbest.get_support()].tolist()

select_kbest(X_train, y_train, 2)

['total_bill', 'tip']

In [40]:
def show_features_rankings(X_train, rfe):
    """
    Takes in a dataframe and a fit RFE object in order to output the rank of all features
    """
    # rfe here is reference rfe from cell 15
    var_ranks = rfe.ranking_
    var_names = X_train.columns.tolist()
    ranks = pd.DataFrame({'Var': var_names, 'Rank': var_ranks})
    ranks = ranks.sort_values(by="Rank", ascending=True)
    return ranks

### 3. Write a function named rfe that takes in the predictors, the target, and the number of features to select. It should return the top k features based on the RFE class. Test your function with the tips dataset. You should see the same results as when you did the process manually.

In [41]:
# Exercise 3
# Write a function named rfe that takes in the predictors, the target, and the number of features to select. It should return the top k features based on the RFE class. Test your function with the tips dataset. You should see the same results as when you did the process manually.

def select_rfe(X, y, k):
    # make the thing
    lm = sklearn.linear_model.LinearRegression()
    rfe = sklearn.feature_selection.RFE(lm, n_features_to_select=k)

    # Fit the thing
    rfe.fit(X, y)
    
    # use the thing
    features_to_use = X.columns[rfe.support_].tolist()
    
    # we need to send show_feature_rankings a trained/fit RFE object
    all_rankings = show_features_rankings(X, rfe)
    
    return features_to_use, all_rankings
select_rfe(X_train, y_train, 2)

(['tip', 'num_person'],
                 Var  Rank
 1               tip     1
 2        num_person     1
 5    smoker_encoded     2
 3  price_per_person     3
 7           day_Sun     4
 8          day_Thur     5
 6           day_Sat     6
 0        total_bill     7
 4       sex_encoded     8
 9        time_Lunch     9)

### 4. Load the swiss dataset and use all the other features to predict Fertility. Find the top 3 features using both select k best and recursive feature elimination (use the functions you just built to help you out).

In [49]:
swiss_df = data('swiss')
swiss_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 47 entries, Courtelary to Rive Gauche
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Fertility         47 non-null     float64
 1   Agriculture       47 non-null     float64
 2   Examination       47 non-null     int64
 3   Education         47 non-null     int64
 4   Catholic          47 non-null     float64
 5   Infant.Mortality  47 non-null     float64
dtypes: float64(4), int64(2)
memory usage: 2.6+ KB

In [50]:
swiss_df.head()

,Fertility,Agriculture,Examination,Education,Catholic,Infant.Mortality
Courtelary,80.2,17.0,15,12,9.96,22.2
Delemont,83.1,45.1,6,9,84.84,22.2
Franches-Mnt,92.5,39.7,5,5,93.40,20.2
Moutier,85.8,36.5,12,7,33.77,20.3
Neuveville,76.9,43.5,17,15,5.16,20.6

In [52]:
swiss_df.describe()

,Fertility,Agriculture,Examination,Education,Catholic,Infant.Mortality
count,47.000000,47.000000,47.000000,47.000000,47.00000,47.000000
mean,70.142553,50.659574,16.489362,10.978723,41.14383,19.942553
std,12.491697,22.711218,7.977883,9.615407,41.70485,2.912697
min,35.000000,1.200000,3.000000,1.000000,2.15000,10.800000
25%,64.700000,35.900000,12.000000,6.000000,5.19500,18.150000
50%,70.400000,54.100000,16.000000,8.000000,15.14000,20.000000
75%,78.450000,67.650000,22.000000,12.000000,93.12500,21.700000
max,92.500000,89.700000,37.000000,53.000000,100.00000,26.600000

In [53]:
swiss_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 47 entries, Courtelary to Rive Gauche
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Fertility         47 non-null     float64
 1   Agriculture       47 non-null     float64
 2   Examination       47 non-null     int64
 3   Education         47 non-null     int64
 4   Catholic          47 non-null     float64
 5   Infant.Mortality  47 non-null     float64
dtypes: float64(4), int64(2)
memory usage: 2.6+ KB

In [54]:
# Split the data
train, validate, test = split_tips(swiss_df)

In [55]:
print(train.shape)
print(validate.shape)
print(test.shape)

(29, 6)
(8, 6)
(10, 6)

In [56]:
target = "Fertility"

# split train into X (dataframe, drop target) & y (series, keep target only)
X_train = train.drop(columns=["Fertility"])
y_train = train["Fertility"]

# split validate into X (dataframe, drop target) & y (series, keep target only)
X_validate = validate.drop(columns=["Fertility"])
y_validate = validate["Fertility"]

# split test into X (dataframe, drop target) & y (series, keep target only)
X_test = test.drop(columns=["Fertility"])
y_test = test["Fertility"]

X_train.head()

             Agriculture  Examination  Education  Catholic  Infant.Mortality
Rive Gauche         27.7           22         29     58.33              19.3
Courtelary          17.0           15         12      9.96              22.2
Rive Droite         46.6           16         29     50.43              18.2
Aubonne             67.5           14          7      2.27              19.1
Rolle               60.8           16         10      7.72              16.3

In [57]:
import sklearn.preprocessing
# Scale (Make the thing)
scaler = sklearn.preprocessing.MinMaxScaler()

# Fit the scaler, (fit the thing)
scaler.fit(X_train)

# Use the scaler to transform train, validate, test (use the thing)
X_train_scaled = scaler.transform(X_train)
X_validate_scaled = scaler.transform(X_validate)
X_test_scaled = scaler.transform(X_test)

In [58]:
# Turn everything into a dataframe
X_train_scaled = pd.DataFrame(X_train_scaled, columns=X_train.columns)
X_validate_scaled = pd.DataFrame(X_validate_scaled, columns=X_train.columns)
X_test_scaled = pd.DataFrame(X_test_scaled, columns=X_train.columns)

In [59]:
# Using functions defined in # 2 to get kbest features
select_kbest(X_train_scaled, y_train, 3)

['Examination', 'Education', 'Infant.Mortality']

In [60]:
# Using functions defined in # 3 to get rfe featurea and rankings
select_rfe(X_train_scaled, y_train, 3)

(['Examination', 'Education', 'Infant.Mortality'],
                 Var  Rank
 1       Examination     1
 2         Education     1
 4  Infant.Mortality     1
 0       Agriculture     2
 3          Catholic     3)